@font-face {
  font-family: 'myfont';
  src: url("../fonts/lth.TTF");
}
@font-face {
  font-family: 'icoFont';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
* {
  font-family: myfont;
}

.icoFont {
  top: 1px;
  font-family: 'icoFont';
  font-style: normal;
  font-weight: normal;
  line-height: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icoFont-trash:before {
  content: "\e020";
}

.icoFont-ok:before {
  content: "\e013";
}

#lf_back, #lf_next, .lf_tools .btn-group, .lf_tools .btnGroup, #furnit_berth_btn {
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

html, body, #selectFN, #lf, #popupUI, #ssl, #canvas2Bg {
  height: 100%;
}

#selectFN, #intoBox, #lf, #lf_stage, #lf .lf_tools, #lf_tools_furnits_box, #popupUI, #popupUI .popup_box, #ssl, #canvas2Bg, #ssl_tools {
  width: 100%;
}

.icoFont, body, #selectFN, #lf, #lf_stage, #furnit_berth, #ssl {
  position: relative;
}

#intoBox, #lf_back, #lf_next, #canvas1Box, #compassBox, #lf .lf_tools, .lf_tools .btn-group, .lf_tools .btnGroup, #lf_tools_doors, #lf_tools_doors_arrow, #lf_tools_furnits, #popupUI, #popupUI .popupBox, #furnit_berth_btn, #canvas2Bg, #ssl_tools {
  position: absolute;
}

#lf, .btnBox, #lf_tools_doors, #lf_tools_furnits, #popupUI, .popupBox, #wall_popup_content .popup_content_box, #ssl, #ssl_edit {
  display: none;
}

#compassBor {
  display: block;
}

.icoFont, .btnBoxa, #lf_tools_doors .tools, #lf_tools_furnits_box .tools, .popup_content_box *, .furnit_note_box .furnit_note, #ssl_tools .tools {
  display: inline-block;
}

#selectFN, #lf_stage, #compassBox, #lf_tools_furnits > p, #popupUI .popupName, .popupBox .popup_text, #furnit_btn, #furnit_okno, #door_popup_content, #door_okBox, #wall_okBox, #ssl_tools .tools, #ssl_edit {
  text-align: center;
}

#lf_back, #lf_next, #lf_tools_doors .tools, #lf_tools_furnits_box .tools, #popupUI hr, #ssl_edit .ssl_text {
  border: none;
}

.procedure, #canvas1Box, #compassBor, #lf_tool .btn, #lf_tools_furnits, #lf_tools_furnits_box, #popupUI .popup_box, #ssl_tools {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#lf, #canvas1Box, #popupUI .popupBox, #ssl {
  overflow: hidden;
}

#moveIco {
  pointer-events: none;
  position: fixed;
  width: 60px;
  height: 60px;
  border: 2px dashed red;
}

#selectFN {
  background-color: #eee;
}

#intoBox {
  top: 20%;
}
#intoBox > a {
  display: inline-block;
  font-size: 30px;
  width: 60%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 40px;
}

#into_ssl {
  margin-top: 50px;
}

#lf_stage {
  height: 50px;
  background-color: #db3740;
}
#lf_stage .btn-group {
  margin-top: 10px;
}

.procedure {
  width: 100px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: auto 80%;
}

#stage0, #stage3 {
  background-position: center center;
}

#stage1, #stage2 {
  background-position: 55% center;
}

#stage0.procedurea, #stage1.procedurea, #stage2.procedurea, #stage3.procedurea {
  background-color: white;
}

#stage0 {
  background-image: url(../ico/stage/stage0_n.png);
}
#stage0.procedurea {
  background-image: url(../ico/stage/stage0_h.png);
}

#stage1 {
  background-image: url(../ico/stage/stage1_n.png);
}
#stage1.procedurea {
  background-image: url(../ico/stage/stage1_h.png);
}

#stage2 {
  background-image: url(../ico/stage/stage2_n.png);
}
#stage2.procedurea {
  background-image: url(../ico/stage/stage2_h.png);
}

#stage3 {
  background-image: url(../ico/stage/stage3_n.png);
}
#stage3.procedurea {
  background-image: url(../ico/stage/stage3_h.png);
}

#lf_back, #lf_next {
  left: 10px;
  top: 50%;
}

#lf_back {
  font-size: 3rem;
  font-weight: 900;
  font-family: sans-serif;
}

#lf_next {
  left: auto;
  right: 10px;
}

#compassBox {
  left: 20px;
  top: 15px;
  font-size: 20px;
  pointer-events: none;
}

#compassBor {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 3px solid #FF8515;
}

#compass {
  height: 38px;
  margin-top: 5px;
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform-origin: center 55%;
  -ms-transform-origin: center 55%;
  -webkit-transform-origin: center 55%;
  -moz-transform-origin: center 55%;
  -o-transform-origin: center 55%;
}

#lf .lf_tools {
  height: 60px;
  background-color: rgba(39, 39, 39, 0.85);
  bottom: 0;
}

.lf_tools .btn-group, .lf_tools .btnGroup {
  top: 50%;
  left: 30px;
  height: 42px;
}

.lf_tools .btnGroup {
  left: auto;
  right: 30px;
}

#lf_tool .btna {
  background-color: white;
}

#lf_tool .btn {
  min-width: 80px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: auto 70%;
  background-position: center center;
}

#lf_tool .btnGroup .btn {
  min-width: 60px;
}

#lf_tool #lf_tool_insertDoor, #lf_tool #lf_tool_ceiling, #lf_tool #lf_tool_wallSize, #lf_tool #lf_tool_wallLong {
  background-position: 15px center;
}

#lf_tool .btn_tape {
  background-image: url(../ico/tool/tape_n.png);
}
#lf_tool .btn_tape.btna {
  background-image: url(../ico/tool/tape_h.png);
}

#lf_tool .btn_photo {
  background-image: url(../ico/tool/photo_n.png);
}
#lf_tool .btn_photo.btna {
  background-image: url(../ico/tool/photo_h.png);
}

#lf_move {
  background-image: url(../ico/tool/move_n.png);
}
#lf_move.btna {
  background-image: url(../ico/tool/move_h.png);
}

#lf_tool_rect {
  background-image: url(../ico/tool/rect_n.png);
}
#lf_tool_rect.btna {
  background-image: url(../ico/tool/rect_h.png);
}

#lf_tool_polygon {
  background-image: url(../ico/tool/polygon_n.png);
}
#lf_tool_polygon.btna {
  background-image: url(../ico/tool/polygon_h.png);
}

#lf_tool_custom {
  background-image: url(../ico/tool/custom_n.png);
}
#lf_tool_custom.btna {
  background-image: url(../ico/tool/custom_h.png);
}

#lf_tool_empty {
  background-image: url(../ico/tool/empty_n.png);
}
#lf_tool_empty.btna {
  background-image: url(../ico/tool/empty_h.png);
}

#lf_tool #lf_tool_annul {
  background-image: url(../ico/tool/annul_n.png);
}
#lf_tool #lf_tool_annul.btna {
  background-image: url(../ico/tool/annul_h.png);
}

#lf_tool #lf_tool_insertDoor {
  background-image: url(../ico/tool/insertDoor_n.png);
  background-size: auto 70%;
  text-indent: 35px;
}
#lf_tool #lf_tool_insertDoor.btna {
  background-image: url(../ico/tool/insertDoor_h.png);
}

#lf_tool #lf_tool_ceiling {
  background-image: url(../ico/tool/ceiling_n.png);
  background-size: auto 60%;
  text-indent: 30px;
}
#lf_tool #lf_tool_ceiling.btna {
  background-image: url(../ico/tool/ceiling_h.png);
}

#lf_tool #lf_tool_wallSize {
  background-image: url(../ico/tool/wallSize_n.png);
  background-size: auto 50%;
  text-indent: 35px;
}
#lf_tool #lf_tool_wallSize.btna {
  background-image: url(../ico/tool/wallSize_h.png);
}

#lf_tool #lf_tool_wallLong {
  background-image: url(../ico/tool/wallLong_n.png);
  background-size: auto 60%;
  text-indent: 35px;
}
#lf_tool #lf_tool_wallLong.btna {
  background-image: url(../ico/tool/wallLong_h.png);
}

#lf_tool_insertFurnit {
  background-image: url(../ico/tool/insertFurnit_n.png);
}
#lf_tool_insertFurnit.btna {
  background-image: url(../ico/tool/insertFurnit_h.png);
}

#lf_tool_suggest {
  background-image: url(../ico/tool/suggest_n.png);
}
#lf_tool_suggest.btna {
  background-image: url(../ico/tool/suggest_h.png);
}

#lf_tool_scale {
  background-image: url(../ico/tool/scale_n.png);
}
#lf_tool_scale.btna {
  background-image: url(../ico/tool/scale_h.png);
}

#lf_tool_emptyFurnit {
  background-image: url(../ico/tool/empty_n.png);
}
#lf_tool_emptyFurnit.btna {
  background-image: url(../ico/tool/empty_h.png);
}

#lf_tools_mediacy {
  background-image: url(../ico/tool/mediacy.png);
}

#lf_tools_ruler {
  background-image: url(../ico/tool/ruler.png);
}

#lf_tools_big {
  background-image: url(../ico/tool/big.png);
}

#lf_tool #lf_tools_small {
  background-image: url(../ico/tool/small.png);
  background-size: 50% auto;
}

#lf_tools_doors {
  left: 30px;
  bottom: 80px;
  width: 500px;
  height: 430px;
  box-sizing: content-box;
  border-radius: 15px;
  background-clip: padding-box;
  background-color: #efefef;
  border: 1.1rem solid rgba(39, 39, 39, 0.7);
  text-align: left;
  white-space: normal;
  cursor: auto;
}
#lf_tools_doors .tools {
  width: 82px;
  height: 105px;
  margin: 25px 0 0 30px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center center;
}

#lf_tools_doors_arrow {
  left: 120px;
  bottom: -28px;
  box-sizing: content-box;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 15px solid rgba(39, 39, 39, 0.7);
  width: 2px;
}

#lf_tools_PTC {
  background-image: url(../ico/door/PTC.png);
}

#lf_tools_PC {
  background-image: url(../ico/door/PC.png);
}

#lf_tools_DKM {
  background-image: url(../ico/door/DKM.png);
}

#lf_tools_YTM {
  background-image: url(../ico/door/YTM.png);
}

#lf_tools_Z {
  background-image: url(../ico/door/Z.png);
}

#lf_tools_L {
  background-image: url(../ico/door/L.png);
}

#lf_tools_QD {
  background-image: url(../ico/door/QD.png);
}

#lf_tools_ZJC {
  background-image: url(../ico/door/ZJC.png);
}

#lf_tools_ZJPC {
  background-image: url(../ico/door/ZJPC.png);
}

#lf_tools_SKM {
  background-image: url(../ico/door/SKM.png);
}

#lf_tools_TLM {
  background-image: url(../ico/door/TLM.png);
}

#lf_tools_ZDM {
  background-image: url(../ico/door/ZDM.png);
}

#lf_tools_furnits {
  left: 20px;
  bottom: 100%;
  width: 555px;
  height: 470px;
  padding: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: rgba(39, 39, 39, 0.85);
  cursor: auto;
}
#lf_tools_furnits > p {
  color: beige;
  font-size: 16px;
  margin-top: -5px;
  margin-bottom: 7px;
}

#lf_tools_furnits_box {
  height: 420px;
  background-color: #efefef;
}
#lf_tools_furnits_box .tools {
  color: #333;
  border-radius: 0;
  width: 90px;
  height: 110px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center center;
  margin: 25px 0 -10px 30px;
}

#lf_tools_WNTB {
  background-image: url(../ico/furnit/WNTB.png);
}

#lf_tools_YMWC {
  background-image: url(../ico/furnit/YMWC.png);
}

#lf_tools_YMBC {
  background-image: url(../ico/furnit/YMBC.png);
}

#lf_tools_DYG {
  background-image: url(../ico/furnit/DYG.png);
}

#lf_tools_DYHYG {
  background-image: url(../ico/furnit/DYHYG.png);
}

#lf_tools_DYHYG2 {
  background-image: url(../ico/furnit/DYHYG2.png);
}

#lf_tools_CTG {
  background-image: url(../ico/furnit/CTG.png);
}

#lf_tools_SZT {
  background-image: url(../ico/furnit/SZT.png);
}

#lf_tools_SZ {
  background-image: url(../ico/furnit/SZ.png);
}

#lf_tools_SG {
  background-image: url(../ico/furnit/SG.png);
}

#lf_tools_DSG {
  background-image: url(../ico/furnit/DSG.png);
}

#lf_tools_YJ {
  background-image: url(../ico/furnit/YJ.png);
}

#popupUI {
  top: 0;
  background-color: rgba(39, 39, 39, 0.5);
}
#popupUI .popupBox {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 34rem;
  background-color: #F5F5F5;
  border-radius: 1.5rem;
  font-size: 1.6rem;
}
#popupUI .popup_box {
  padding: 0 1rem;
}
#popupUI .popupName {
  color: beige;
  background-color: #AD0101;
  height: 45px;
  line-height: 45px;
  font-size: 25px;
}
#popupUI hr {
  border-top: 1px solid #bbb;
}

.popupBox .popup_name {
  text-align: right;
  width: 30%;
}
.popupBox .popup_text {
  border: 1px solid #bbb;
  border-radius: 5px;
  width: 40%;
  color: #999;
  font-size: 16px;
}
.popupBox .popup_unit {
  text-align: left;
  width: 20%;
}

.popup_content_box {
  margin: 15px auto;
}
.popup_content_box * {
  height: 25px;
  line-height: 25px;
}

.popup_btn {
  background-color: #f4f4f4;
  padding: 8px 20px;
  border: 1px solid #AD0101;
  border-radius: 25px;
  color: #AD0101;
  font-size: 20px;
  margin: 15px 40px;
}

#furnit_berth {
  height: 25px;
  line-height: 25px;
}

#furnit_berth_btn {
  top: 50%;
  right: 20%;
  width: 55px;
  background-color: #ad0101;
  border-radius: 20px;
  padding: 3px;
}

#furnit_berth_btn_dot {
  float: right;
  width: 20px;
  height: 20px;
  background-color: #f4f4f4;
  border-radius: 100%;
}

.furnit_note_box {
  margin: 6px auto;
}
.furnit_note_box .furnit_note {
  width: 25%;
  text-align: right;
}
.furnit_note_box .popup_text {
  color: #999;
  font-size: 16px;
  width: 70%;
  border: none;
  background: none;
  height: 25px;
  line-height: 25px;
  text-align: left;
}

#furnit_popup_no, #furnit_popup_ok {
  background-color: #f4f4f4;
  padding: 5px 50px;
  border: 1px solid #AD0101;
  border-radius: 20px;
  color: #AD0101;
  font-size: 20px;
  margin: 15px 10px;
}

#furnit_popup_no {
  background-color: #AD0101;
  color: #f4f4f4;
}

#door_popup_name {
  margin-bottom: 25px;
}

.popup_finder, .popup_ok {
  background-color: #f4f4f4;
  padding: 6px 35px;
  border: 1px solid #AD0101;
  border-radius: 25px;
  color: #AD0101;
  font-size: 20px;
  margin: 10px 10px 20px;
}

.popup_finder {
  background-color: #AD0101;
  color: #f4f4f4;
}

#door_popup .popup_btn {
  margin: 0px 40px 10px;
}

#canvas2Bg {
  left: 0;
  top: 0;
  z-index: -1;
}

#ssl_tools {
  bottom: 0;
  height: 80px;
  padding: 10px 20px;
  background: #aaa;
}
#ssl_tools .tools {
  border: 1px solid white;
  border-radius: 15px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: white;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#ssl_edit {
  height: 60px;
}
#ssl_edit .icoFont-trash {
  font-size: 30px;
  color: #f10215;
  vertical-align: middle;
}
#ssl_edit .icoFont-ok {
  font-size: 30px;
  color: #41b684;
  vertical-align: middle;
}
#ssl_edit .ssl_text {
  background: none;
  color: white;
  width: 60%;
  height: 30px;
  line-height: 30px;
  margin: 10px;
  border-bottom: 2px solid #41b684;
}
#ssl_edit .ssl_text::-webkit-input-placeholder {
  color: white;
}
#ssl_edit .ssl_text:-moz-placeholder {
  color: white;
}
#ssl_edit .ssl_text::-moz-placeholder {
  color: white;
}
#ssl_edit .ssl_text:-ms-input-placeholder {
  color: white;
}
#ssl_edit .ssl_text[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
